body{
    background-color: antiquewhite;
}
#Header{
    background-color: antiquewhite;
    position: absolute;
    height: 10%;
    width: 100%;
    top: 0%;
    left: 0%;
}
#color0{
    background-color: rgb(44, 42, 40);
    width: 5%;
    height: 100%;
    left: -5%;
    position: absolute;
    transform: skewX(45deg);
}
#color1{
    background-color: cyan ;
    width: 5%;
    height: 100%;
    position: absolute;
    transform: skewX(45deg);
}
#color2{
    background-color: rgba(92, 248, 1, 0.836);
    width: 5%;
    height: 100%;
    left: 5%;
    position: absolute;
    transform: skewX(45deg);
}
#color3{
    background-color: rgb(255, 230, 0);
    width: 5%;
    height: 100%;
    left: 10%;
    position: absolute;
    transform: skewX(45deg);
}
#color4,#blockMenu{
    background-color: red;
    width: 5%;
    height: 100%;
    left: 15%;
    position: absolute;
    transform: skewX(45deg);
    transition: 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}
#text{
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#case1,#case2,#case3{
    width: 20%;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}
#case1{
    left:40%;
}
#case2{
    left:60%;
}
#case3{
    left:80%;
}
#bord,#bord2{
    background-color: rgb(44, 42, 40);
    width: 100%;
    left: 0%;
    height: 10px;
    position: absolute;
    
}
#bord{
    top: 90%;
}
#bord2{
    bottom: 90%;
}
#Photo,#Board{
    background-color: rgb(44, 42, 40);
    width: 60%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 2px;
    position: absolute;
    overflow: hidden; 
}
#Board{
    z-index: 1000;
    display: none;
}
#block{
    background-color: cyan;
    width: 30px;
    height: 30px;
    top: -50%;
    transform: translate(-50%,-50%);
    position: absolute;
    z-index: 1000;
    border-radius: 50px;
}
#Balls-container {
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.Ball {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border: 2px solid antiquewhite;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
#Footer{
    background-color: rgb(44, 42, 40);
    width: 100%;
    position: absolute;
    height: 7%;
    bottom:0%;
    left: 0%;
}
.bottom{
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}
.top{
    color: rgb(44, 42, 40);
    font-family: Arial, Helvetica, sans-serif;
}

