body{
    background-color: antiquewhite;
}
#Header{
    background-color: antiquewhite;
    position: absolute;
    height: 10%;
    width: 100%;
    top: 0%;
    left: 0%;
}
#color0{
    background-color: rgb(44, 42, 40);
    width: 5%;
    height: 100%;
    left: -5%;
    position: absolute;
    transform: skewX(45deg);
}
#color1{
    background-color: cyan ;
    width: 5%;
    height: 100%;
    position: absolute;
    transform: skewX(45deg);
}
#color2{
    background-color: rgba(92, 248, 1, 0.836);
    width: 5%;
    height: 100%;
    left: 5%;
    position: absolute;
    transform: skewX(45deg);
}
#color3{
    background-color: rgb(255, 230, 0);
    width: 5%;
    height: 100%;
    left: 10%;
    position: absolute;
    transform: skewX(45deg);
}
#color4,#blockMenu{
    background-color: red;
    width: 5%;
    height: 100%;
    left: 15%;
    position: absolute;
    transform: skewX(45deg);
    transition: 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}
#text{
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#case01,#case02,#case03{
    width: 20%;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}
#case01{
    left:80%;
}
#case02{
    left:40%;
}
#case03{
    left:60%;
}
#bord,#bord2{
    background-color: rgb(44, 42, 40);
    width: 100%;
    left: 0%;
    height: 10px;
    position: absolute;
    
}
#bord{
    top: 90%;
}
#bord2{
    bottom: 90%;
}
#Photo,#Board,#Board2,#Board3{
    background-color: rgb(44, 42, 40);
    width: 60%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 2px;
    position: absolute;
    overflow: hidden; 
}
#Board,#Board2,#Board3{
    z-index: 1000;
    display: none;
}
#block{
    background-color: cyan;
    width: 30px;
    height: 30px;
    top: -50%;
    transform: translate(-50%,-50%);
    position: absolute;
    z-index: 1000;
    border-radius: 50px;
}
#Balls-container {
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.Ball {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border: 2px solid antiquewhite;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
#Footer{
    background-color: rgb(44, 42, 40);
    width: 100%;
    position: absolute;
    height: 7%;
    bottom:0%;
    left: 0%;
}
.bottom{
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}
.top{
    color: rgb(44, 42, 40);
    font-family: Arial, Helvetica, sans-serif;
}

#Container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

#Sphere {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 5rem;
  height: 5rem;
  /* border: red 1px dashed; */
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
#Path {
  position: absolute;
  width: 0;
  height: 2px;
  /* background: yellow; */
  transform-origin: left center;

}
.Ball2 {
  position: absolute;
  width: 2px;
  height: 2px;
  background: cyan;
  border-radius: 50%;
}
#plateau {
    height: 90%;
    width: 100%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

    display: grid;
    grid-template-columns: repeat(4, 120px);
    gap: 10px;
    width: fit-content;
    margin: 0 auto;
    
}
.cartes,.labiCartes{
    border: 1px solid antiquewhite;
    background-color: antiquewhite;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    position: relative;
    color: rgb(44, 42, 40);
    font-size: 30px;
    text-align: center;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.cartes:hover{
    background-color: rgb(255, 230, 0);
}
.labiCartes:hover{
    background-color: cyan;
}
.empty{
    display: none;
}
#reset,#next,#previous{
    height: 50px;
    border: 1px solid antiquewhite;
    background-color: antiquewhite;
    border-radius: 10px;
    width: 100px;
    position: relative;
    color: rgb(44, 42, 40);
    text-align: center;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
#previous,#next{
    left: 2%;
    top: 50%;
    position: absolute;
    transform: translate(0,-50%);
}
#reset{
    left: 2%;
    top: 60%;
    position: absolute;
    transform: translate(0,-50%);
}
#reset:hover,#next:hover,#previous:hover{
    background-color: cyan;
}